@import '../../../assets/variables.scss';

header {
    color: $font-color;
    &.main {        
        font-size: $font-size-biggest;
        .cover {
            width: 80%;
            height: 90px;
            align-items: center;
        }
    }
}