/**
=============================
======= NORMALIZE CSS =======
=============================
*/

// font sizes
$font-size-biggest: 2.5rem;
$font-size-bigger: 2.1rem;
$font-size-big: 2rem;
$font-size-medium: 1.5rem;
$font-size-regular: 1rem;
$font-size-small: .5rem;


// font colors
$font-color: #00e8e4;
$base-color: #116193;
$grey: #eee;

/**
========================
========= MAIN =========
========================
*/
main {
    .wrapper {
        width: 80%;
        .searchbar {
            input {
                border-radius: 25px;
                padding: 5px 25px;
                background: $grey;
                border: 0;
                height: 40px;
                margin: 20px 0;
                outline: none;
                font-size: $font-size-regular;
                box-sizing: border-box;
            }
        }        
    }
}
@media (min-width: 768px) {  
    
}
@media (max-width: 1024px) {  
    main {
        .wrapper {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {  
    .searchbar {
        input {
            width: 95% !important;
        }
    }    
}