<!-- header -->
<header class="main center">
  <section class="cover center">
    Movies
  </section>
</header>
<main class="center">
  <div class="wrapper">
    <!-- searchbar -->
    <section class="searchbar">
      <input type="text" name="" class="full" id="" placeholder="Busque filmes e tal...">
    </section>
    <!-- movies list -->
    <section class="card-list">
      <article class="card-movie">
        <!-- movie pic -->
        <div class="img">
          <img src="{{ url }}" alt="">
        </div>
        <div class="content">
          <!-- movie content header-->
          <header>
            <section class="padding">
              <div class="rating center">78%</div>
              <div class="info">
                <h1>Thor: Ragnrok Thoroso</h1>
                <time datetime="23/10/2019" class="date space">23/10/2019</time>
              </div>
            </section>
          </header>
          <!-- movie content resume-->
          <section class="resume padding">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sapiente aut, saepe, quo aspernatur,
            dolorem delectus placeat officiis inventore suscipit in illum voluptates sit rem! Esse perspiciatis
            obcaecati cum provident?
          </section>
          <!-- movie content tags-->
          <section class="tags padding">
            <div class="tag">Humor</div>
            <div class="tag">Drama</div>
            <div class="tag">Suspense</div>
            <div class="tag">Resenha</div>
          </section>
        </div>
      </article>
    </section>
  </div>
</main>