<!-- header -->
<header class="main" appCenter appBackground>
  <section class="cover" appCenter>
    Movies
  </section>
</header>
<main appCenter>
   <!-- loader -->
  <div class="loader" *ngIf="loading">
    Cagerrando...
  </div>
  <div class="wrapper" *ngIf="!loading">
    <!-- searchbar -->
    <section class="searchbar" appCenter>
      <input type="text" name="" appFull id="" placeholder="Busque filmes e tal...">
    </section>
    <!-- movies list -->
    <section class="card-list">      
      <article class="card-movie" *ngFor="let movie of movies">
        <div class="img">
          <img src="{{ url + movie.poster_path }}" class="no-mobile" alt="">
          <img src="{{ url + movie.backdrop_path }}" class="no-desktop" alt="">
        </div>
        <div class="content">
          <!-- movie header -->
          <header appBackground>
            <section appPadding>
              <div class="btn-circle" appCenter appBackground>{{ movie.vote_average * 10 }}%</div>
              <div class="info">
                <h1>{{ movie.title }}</h1>
                <time class="date space">{{ movie.release_date | timeToBr }}</time>
              </div>
            </section>
          </header>
          <!-- movie overview -->
          <div appPadding>
            <section class="resume">
              {{ movie.overview }}
            </section>
            <section class="tags">
              <div class="tag" *ngFor="let i of objectKeys(movie.genre_ids)">
                {{ returnGenreName(movie.genre_ids[i]) }}
              </div>
            </section>
          </div>
        </div>
      </article>
      <!-- paginate -->
      <div class="paginate" *ngIf="movies.length">
          <button  class="btn-clear" *ngFor='let page of pages' [class.btn-circle]="currentPage == page + 1"
            (click)="renderCurrentPage(page)" [disabled]="currentPage == page + 1">{{ page + 1 }}</button>
        </div>
    </section>
  </div>
</main>