// font sizes
$font-size-biggest: 2.5rem;
$font-size-bigger: 2.1rem;
$font-size-big: 2rem;
$font-size-medium: 1.5rem;
$font-size-regular: 1rem;
$font-size-small: .5rem;


// font colors
$font-color: #00e8e4;
$base-color: #116193;
$grey: #eee;

.paginate {
    text-align: center;
    .btn-clear {
        background-color: transparent;
        color: $base-color;
        border: 0;
    }
}