@import '../../../assets/variables.scss';

.card-movie {
    display: flex;
    width: 100%;                                
    .content {
        flex: auto;
        background: $grey;
        position: relative;
        overflow: hidden;
        padding-bottom: 20px;
        header {
            height: 70px;
            display: block;
            width: 100%;
            section {
                max-width: 95%;
                overflow: hidden;
                display: flex;                            
                padding-top: 30px;
                min-height: 62px;
                .btn-circle {                                
                    border: 5px solid $font-color;                                
                }                                                        
                .info {
                    margin-left: 10px;   
                    overflow: hidden;
                    display: flex;
                    justify-content: space-between;                                                             
                    flex-direction: column;
                    h1 { 
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                    }
                    time {
                        color: #aaa;
                        font-weight: lighter;
                    }
                }
            }
        }
        .resume {
            margin-top: 35px;
            width: 100%;
            color: #666;            
            font-weight: 600;
        }                            
    }
}
@media (min-width: 768px) {  
    .card-movie {
        display: flex;
        min-height: 290px;
        max-height: 350px;
        margin-bottom: 35px;
        .img {
            flex: none;
            img {
                object-fit: cover;
                min-height: 290px;
                max-height: 350px;
            }
        }
        h1 { 
            font-size: $font-size-bigger;
        }        
    }
}

@media (max-width: 767px) {      
    .card-movie {
        display: flex;
        min-height: 100%;
        max-height: 100%;
        flex-direction: column;        
        .img {
            margin-bottom: -5px;
            img {
                object-fit: cover;
                height: inherit;
                width: -moz-available;
                width: -webkit-fill-available;
                width: fill-available;
                max-height: 280px;
            }
        }
        h1 { 
            font-size: $font-size-medium;
        }        
        margin-bottom: 8px;
    }
}