// font sizes
$font-size-biggest: 2.5rem;
$font-size-bigger: 2.1rem;
$font-size-big: 2rem;
$font-size-medium: 1.5rem;
$font-size-regular: 1rem;
$font-size-small: .5rem;


// font colors
$font-color: #00e8e4;
$base-color: #116193;
$font-color-secondary: #3477a1;
$font-color-grey-light: #bcbcbc;
$font-color-grey-dense: #707070;

// default gray
$grey: #e6e6e6;
$grey-light: #f2f2f2;
