@import "./assets/variables.scss";
body {
  padding: 0;
  margin: 0;
}
* {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  font-weight: normal;
}
.rating,
.info h1,
header.main {
  color: $font-color;
}

.btn-circle,
.btn-clear {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  outline: none;
}
.btn-circle {
  flex: 1;
  align-items: center;
  background: $base-color !important;
  border-radius: 50%;
  border: 5px solid $font-color !important;
  position: relative;
  color: $font-color !important;
}
.btn-circle:before {
  content: "";
  position: absolute;
  z-index: 4;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 3px solid $base-color;
  border-radius: 50%;
}
main {
  .wrapper {
    width: 80%;
    .searchbar {
      input {
        border-radius: 25px;
        padding: 5px 25px;
        background: $grey;
        border: 0;
        height: 40px;
        margin: 20px 0;
        outline: none;
        font-size: $font-size-regular;
        box-sizing: border-box;
      }
    }
  }
}
@media (min-width: 769px) {
  .no-desktop {
    display: none;
  }
  .btn-circle {
    font-size: $font-size-regular;
  }
}
@media (max-width: 1024px) {
  main {
    .wrapper {
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .no-mobile {
    display: none;
  }
  .searchbar {
    input {
      width: 95% !important;
    }
  }
  .btn-circle {
    font-size: $font-size-regular;
  }
}